{% extends "base.html" %}

{% block content %}

<div class ="entire-screen d-flex triple-gradient">	
				
	<div class="my-auto mx-auto">	
		
		<br>

    <div class="card" style="width:18rem">

      <div class="card body">

        <h5 class="card title">Dice 10,000 </h5>

            <p class="card-text">
            
             Rolls a dice with a pool of 180,000 possible effects.

            </p>
            <div class="text-align=center;">
		<a href="/d10k">
		
      <button type="button" class="btn btn-primary btn-lg" style="font-size:50px;">
				
				<span>
				
					<i class="fas fa-dice-d20"></i>
				
				</span>
			
			</button>
		
		</a>
    </div>
      </div>

    </div>


    <div>


		<a href="/d10k">
			
			<button type="button" class="btn btn-primary btn-lg" style="font-size:50px;">
				
				<span>
				
					Roll again	<i class="fas fa-dice-d20"></i>
				
				</span>
			
			</button>
		
		</a>
    </div>
	</div>   
	
</div>

{% endblock %}

